:root{
    --color-negro:#523106;
    --color-blanco:#f0e9e2;
    --color-principal: #75cfb8;
    --color-secundario: #bbdfc8;
    --color-contraste: #ffc478;
    --color-prueba1: #ffcb91;
    --color-prueba2: #ffefa1;
    --color-prueba1: #94ebcd;
    --color-prueba2: #6ddccf;
}
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
    font-weight: 600;
    list-style:none;
    outline: none;
    text-decoration: none;
}

/* maquetación html index */

.indexheader{
    height:8vh;
    background-color: grey;  
}
.logoymenu{
    display: flex;
    justify-content: space-between;
    border: 4px solid black;
}
.logoymenu>header{
    display:flex; 
    align-items: center;
    justify-content: space-between;
    width: 434px;
    height: 73px;
}
.logoymenu>header>h1{
    font-size: 2.2rem;
}
.imglogo{
    height: 75px;
    width: 75px;
}
.logoymenu>main{
    width: 210px;
    height: 74px;
    margin-top: 18px;
}

.menu>ol>li{
    font-size: 1rem;
}
.menu>ol>li:hover{
    background-color: orange;
}

.indexmain{
    min-height: 64vh;
    height:100%;
    width:100vw;
    background-color: white;
    padding: 25px;
    box-sizing: border-box;

    display: flex;
    flex-wrap:wrap;
}
.indexfooter{
   background-color: grey;  
    width:100vw;
    
    bottom:0;
} 


/* maquetación carta */
.bordecarta{
    background-color: black;
    border-radius: 4%;
    width:240px;
    height:350px;
    margin-bottom: 20px;
}
.fondocarta{
    display: flex;
    justify-content: center;

    width: 220px;
    height:330px;
    margin: 10px 10px 10px 10px;
}
.articulocarta{
    width: 220px;
    height:320px;
    margin: 5px 5px 5px 5px;

}
.encabezadocarta{
    border: 3px ridge #808080;

    border-radius:16px/40px;
    padding:5px;
    font-size: 0.8rem;
    width: 202px;
    height: 11px;

    display:flex;
    justify-content: space-between;
}
.imgmana{
    width: 11px;
    height:11px;
}
.seccionimagen{
    border: 3px ridge #808080;
    
    box-sizing: border-box;
    width: 208px;
    height: 124px;
    margin-left: 6px;
    background-position:center;
}
.imgcarta{
    width: 202px;
    height: 118px; 
}


.secciontiposubtipocarta{
    border: 3px ridge #808080;

    border-radius:16px/40px;
    padding:5px;
    font-size: 0.7rem;
    width: 202px;
    height: 11px;

    display:flex;
    justify-content: space-between;
}
.secciontiposubtipocarta>ol>li{
    display: inline-block;
}
.imgexpansion{
    width: 11px;
    height:11px;
}

.secciondescripcioncarta{
    border: 3px ridge #808080;

    box-sizing: border-box;
    width: 207px;
    height: 118px;
    margin-left:5px;
    font-size: 0.6rem;
}   


.seccionfuerzaresistencia{
    border: 3px ridge #808080;

    margin-left: 173px;
    margin-top: -2px;
    width: 30px;
    
    font-size: 0.6rem;
    border-radius: 16px/40px;
    text-align: center;
}
.seccionfuerzaresistencia>ol>li{
    display: inline-block;
    margin:2px;
} 


.piecarta{
    margin-top: -10px;;
    font-size: 0.5rem;
} 
.piecarta>ol>li{
    display: inline-block;
    margin:2px;
} 
.piecartav2{
    margin-top: 11px;;
    font-size: 0.5rem; 
}
.piecartav2>ol>li{
    display: inline-block;
    margin:2px;
} 

/* clase de thumbnail */

.thumbnail{
    width: 170px;
    height: 150px;
    background-color: white;
    border-radius: 4px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerthumbnail{
    width: 175px;
    height: 27px;
}
.headerthumbnail>h1{
    font-size: 0.8rem;
}
.imgthumbnail{
    width: 175px;
    height: 125px;
}