*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}
/* maquetación index */
body{
    
}
.indexheader{
    position: sticky;
    top: 0;
    
    background-color: blueviolet;  
}
.indexmain{
    height:100%;
    width:100%;
    background-color: blanchedalmond;
    padding:20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.indexfooter{
   background-color: blueviolet; 
} 


/* maquetación carta */
.bordecarta{
    background-color: black;
    border-radius: 4%;
    width:220px;
    height:350px;
    margin-bottom: 20px;
}
.fondocarta{
    width: 200px;
    height:330px;
    margin: 10px 10px 10px 10px;
    background-color: rgb(100, 108, 219);
}
.articulocarta{
    width: 190px;
    height:320px;
    margin: 5px 5px 5px 5px;
    background-color: rgb(209, 96, 96);
    font-size: 0.8rem;
    border-radius: 1%;
}
/* .encabezadocarta{
    
}
.imagen{
    
}
.secciontiposubtipocarta{
    
}
.secciondescripcioncarta{
    
} */