*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
    font-weight: 600;
    list-style:none;
}
/* maquetación index */
body{
    
}
.indexheader{
    position: sticky;
    top: 0;
    
    background-color: grey;  
}
.indexmain{
    height:100%;
    width:100%;
    background-color: blanchedalmond;
    padding:20px;

    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.indexfooter{
   background-color: grey;  
} 


/* maquetación carta */
.bordecarta{
    background-color: black;
    border-radius: 4%;
    width:240px;
    height:350px;
    margin-bottom: 20px;
}
.fondocarta{
    display: flex;
    justify-content: center;

    width: 220px;
    height:330px;
    margin: 10px 10px 10px 10px;
}
.articulocarta{
    width: 220px;
    height:320px;
    margin: 5px 5px 5px 5px;

}
.encabezadocarta{
    border: 3px ridge #808080;

    border-radius:16px/40px;
    padding:5px;
    font-size: 0.8rem;
    width: 202px;
    height: 11px;

    display:flex;
    justify-content: space-between;
}
.imgmana{
    width: 11px;
    height:11px;
}
.seccionimagen{
    border: 3px ridge #808080;
    
    box-sizing: border-box;
    width: 208px;
    height: 124px;
    margin-left: 6px;
    background-position:center;
}
.imgcarta{
    width: 202px;
    height: 118px; 
}


.secciontiposubtipocarta{
    border: 3px ridge #808080;

    border-radius:16px/40px;
    padding:5px;
    font-size: 0.7rem;
    width: 202px;
    height: 11px;

    display:flex;
    justify-content: space-between;
}
.secciontiposubtipocarta>ol>li{
    display: inline-block;
}
.imgexpansion{
    width: 11px;
    height:11px;
}

.secciondescripcioncarta{
    border: 3px ridge #808080;

    box-sizing: border-box;
    width: 207px;
    height: 118px;
    margin-left:5px;
    font-size: 0.6rem;
}   


.seccionfuerzaresistencia{
    border: 3px ridge #808080;

    z-index: 3;
    margin-left: 173px;
    margin-top: -2px;
    width: 30px;
    
    font-size: 0.6rem;
    border-radius: 16px/40px;
    text-align: center;
}
.seccionfuerzaresistencia>ol>li{
    display: inline-block;
    margin:2px;
} 


.piecarta{
    z-index:1;
    margin-top: -10px;;
    font-size: 0.5rem;
} 
.piecarta>ol>li{
    display: inline-block;
    margin:2px;
} 