
.indexheader{
    height:8vh;
    background-color: grey;  
}
.logoymenu{
    display: flex;
    justify-content: space-between;
}
.logoymenu>header{
    display:flex; 
    align-items: center;
    justify-content: space-between;
    width: 434px;
    height: 73px;
}
.logoymenu>header>h1{
    font-size: 2.3rem;
    color:white;
}
.imglogo{
    height: 75px;
    width: 75px;
}
.logoymenu>main{
    width: 210px;
    height: 74px;
    margin-top: 18px;
}

.menu>ol>li{
    list-style: none;
    font-size: 1rem;
}
.menu>ol>li:hover{
    background-color: orange;
}

/* creacción de carta */

.maincrearcarta{
    display:flex;
    justify-content: center;
    margin-top: 25px;
}
.formcrearcarta{
    /* list-style: inherit; */
    
    border: 1;
    border: 2px solid black;
    padding:25px;
    
    width: 700px;
    height: 100%;
}
.formcrearcarta>fieldset{
    width: 700px;
    height: 100%;
    width: 672px;
    margin-top: 13px;

    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.descripcionesform>div>label>input{
    width: 665px;
    height: 62px;
}