:root{
    --color-negro:#523106;
    --color-blanco:#f0e9e2;
    --color-principal: #75cfb8;
    --color-secundario: #bbdfc8;
    --color-contraste: #ffc478;
    --color-prueba1: #ffcb91;
    --color-prueba2: #ffefa1;
    --color-prueba1: #94ebcd;
    --color-prueba2: #6ddccf;
}
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
    font-weight: 600;
    list-style:none;
    outline: none;
    text-decoration: none; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* maquetación principal index */

.indexheader{
    height: 92px;
    /* background-color: rgb(80, 77, 77); */
    background: linear-gradient(to right, #2c55dd, white);  
    
}
.logoymenu{
    display: flex;
    justify-content: space-between;
}
.logoymenu>header{
    width: 318px;
    height: 71px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoymenu>header>h1{
    font-size: 2.3rem;
    color:white;
    text-shadow:
   -1px -1px 0 #000000,  
    1px -1px 0 #000000,
   -1px 1px 0 #000000,
    1px 1px 0 #000000;
}
.imglogo{
    height: 82px;
    width: 82px;
}
.logoymenu>main{
    width: 210px;
    height: 91px;
    display: flex;
    align-items: center;
}

.menu>ol>li{
    font-size: 1rem;
    list-style:none;
    outline: none;
    color:white;
}

.indexmain{
    min-height: 64vh;
    height:100%;
    width:100vw;
    background-color: white;
    padding: 43px;
    box-sizing: border-box;

    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}
.indexfooter{
    bottom:15px;
} 
.indexfooter>section{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.indexfooter>section>header{
    margin-left:15px;
}
.indexfooter>section>p{
    margin-left:20px;
}

/* maquetación botones orden cartas */

.seccionbotones{
    width:100%;
    height: 50px;
}
.seccionbotones>nav{
    height: 50px;
    margin: 5px;
    display:flex;
    justify-content: center;
}
.button{
    font-size: 1rem;
    color: white;
    width: 100px;
    height: 50px;
    background-color: #2c55dd;
    border: 2px solid white;
    border-radius: 9px;

    box-shadow: 0px 10px 10px -6px black;
}


/* maquetación carta */

.bordecarta{
    opacity: 0;
    z-index: -1;
    position: fixed;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    text-align: center;

    background-color: black;
    border-radius: 4%;
    width:240px;
    height:350px; 
    
}
.fondocarta{
    display: flex;
    justify-content: center;

    width: 220px;
    height:330px;
    margin: 10px 10px 10px 10px;
}
.articulocarta{
    width: 220px;
    height:320px;
    margin: 5px 5px 5px 5px;

}
.encabezadocarta{
    border: 3px ridge #808080;

    border-radius:16px/40px;
    padding:5px;
    font-size: 0.8rem;
    width: 202px;
    height: 14px;

    display:flex;
    justify-content: space-between;
}
.imgmana{
    width: 11px;
    height:11px;
}
.seccionimagen{
    border: 3px ridge #808080;
    
    box-sizing: border-box;
    width: 208px;
    height: 124px;
    margin-left: 6px;
    background-position:center;
}
.imgcarta{
    width: 202px;
    height: 118px; 
}


.secciontiposubtipocarta{
    border: 3px ridge #808080;

    border-radius:16px/40px;
    padding:5px;
    font-size: 0.7rem;
    width: 202px;
    height: 11px;

    display:flex;
    justify-content: space-between;
}
.secciontiposubtipocarta>ol>li{
    display: inline-block;
}
.imgexpansion{
    width: 11px;
    height:11px;
}

.secciondescripcioncarta{
    border: 3px ridge #808080;

    box-sizing: border-box;
    width: 207px;
    height: 118px;
    margin-left:5px;
    font-size: 0.6rem;
    text-align: left;
    
}  
.secciondescripcioncarta ol{
    width: 195px;
    height: 105px;
    position: relative; 
    margin-left: 3px;
    
}
.itemhabilidad{
    margin-top: 3px;
    flex-grow: 1;
} 
.itemtextambiente{
    /* margin-top: 3px; */
     bottom:0; 
    position: absolute; 
    flex-grow: 1;
    font-style: oblique;
}

.seccionfuerzaresistencia{
    border: 3px ridge #808080;

    margin-left: 173px;
    margin-top: -2px;
    width: 30px;
    
    font-size: 0.6rem;
    border-radius: 16px/40px;
    text-align: center;
}
.seccionfuerzaresistencia>ol>li{
    display: inline-block;
    margin:2px;
} 


.piecarta{
    margin-top: -10px;;
    font-size: 0.5rem;
} 
.piecarta>ol>li{
    display: inline-block;
    margin:2px;
} 
.piecartav2{
    margin-top: 11px;;
    font-size: 0.5rem; 
}
.piecartav2>ol>li{
    display: inline-block;
    margin:2px;
} 

/* clase de thumbnail */

.thumbnail{
    border: 1px solid white;
    box-shadow: 0px 10px 10px -6px #000000;
    margin-left: 10px;
    margin-bottom: 10px;
    
    color: white;
    text-shadow:
   -1px -1px 0 #000000,  
    1px -1px 0 #000000,
   -1px 1px 0 #000000,
    1px 1px 0 #000000;
    background-color: white;
    border-radius: 4px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerthumbnail{
    width: 182px;
    height: 27px;
    text-align: center;
}
.headerthumbnail>h1{
    font-size: 0.9rem;
}
.imgthumbnail{
    width: 175px;
    height: 125px;
    border-radius: 4px;
    border: 1px solid white;
}

/* creacción de carta */

.maincrearcarta{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    margin-top: 35px;
    margin-bottom: 35px;
}
.formcrearcarta{
    /* border: 2px solid black; */
    padding:25px;
    max-width: 450px;
    min-width: 349px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formcrearcarta>fieldset{
    width: 288px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px dotted black;
    padding: 8px;
    display:flex;
    flex-direction: column;
    
    flex-wrap:wrap;
}
.formcrearcarta>fieldset>div{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.formcrearcarta input{
    border: 1px solid black;
}
.typeradio{
    text-align: center;
}
.typeradio input {
    margin-left:15px;
}
.inputimg{
    height: 24px;
    width: 284px;
}
.descripcionesform>div>label>input{
    width: 289px;
    height: 62px;
    border: 1px solid black;
}
.buttonform{
    padding: 5px;
    margin-top: 25px;
	border: 1px solid black;
    background-color: #2c55dd;
    color:white;
    width: 203px;
    height: 51px;
}
.notrequired{
    color:#2c55dd;
}
.nota{
    font-size: 0.8rem;
}